.app-layout {
    min-height: 100vh;
    display: flex;
}

.sidebar {
    padding: 3.75rem 1.25rem 1.25rem 1.25rem;
    background: var(--trans-subtle-grey-3);

    button.btn-collapse {
        left: 100%;
        top: 5rem;
        padding: 0;
        background-color: var(--trans-subtle-grey-3);
        border: none;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;

        &:hover {
            background-color: var(--trans-subtle-grey-2);
        }

        svg {
            margin: 0.625rem 0.625rem 0.625rem 0.313rem;
            transition: transform 0.4s ease-in-out;
        }

        .rotated {
            transform: rotate(180deg);
        }
    }

    .sidebar-content {
        width: 15rem;
    }

    a.nav-link {
        color: var(--font-grey-1);
        border-radius: 0.5rem;
        font-weight: 500;
        padding: 0.625rem 0.875rem;

        &:hover {
            background-color: var(--trans-subtle-grey-2);
        }

        div {
            min-height: 1.5rem;
        }
    }
}

.topbar {
    height: 3.75rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1.25rem;

    .user-avatar {
        width: 2rem;
        border-radius: 50%;
        margin-right: 0.625rem;
    }

    .user-display-name.truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 8rem;
    }

    #dropdownMenuButton {
        .caret {
            font-size: 0.75rem;
        }
    }

    .dropdown-item {
        &:hover,
        &:active {
            background-color: var(--trans-subtle-grey-1);
        }
    }
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 1rem;

    #dashboard {
        max-width: 1200px;

        .dashboard-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
            gap: 1rem;
        }
    }
}
