:root {
    --trans-subtle-grey-1: rgba(217, 221, 220, 0.6);
    --trans-subtle-grey-2: rgba(217, 221, 220, 0.5);
    --trans-subtle-grey-3: rgba(217, 221, 220, 0.2);
    --font-grey-1: rgba(54, 54, 54, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-grey-1);
}

.font-subtle-grey-1 {
    color: var(--font-grey-1) !important;
}

/* Borders */
.border.border-secondary-subtle,
.border-top.border-secondary-subtle,
.border-end.border-secondary-subtle,
.border-bottom.border-secondary-subtle,
.border-start.border-secondary-subtle {
    border-color: var(--trans-subtle-grey-1) !important;
}

/* Loading state */
.loading {
    font-size: 16px;
    font-weight: 500;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 1000ms infinite;
    animation: ellipsis steps(4, end) 1000ms infinite;
    content: '\2026';
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 1rem;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1rem;
    }
}

#conversion-options {
    max-width: 300px;
}
