:root {
  --subtle-grey: rgba(217, 221, 220, 0.6);
}

.border.border-secondary-subtle,
.border-top.border-secondary-subtle,
.border-end.border-secondary-subtle,
.border-bottom.border-secondary-subtle,
.border-start.border-secondary-subtle {
  border-color: var(--subtle-grey) !important;
}

.loading {
  font-size: 16px;
  font-weight: 500;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 1000ms infinite;
  animation: ellipsis steps(4, end) 1000ms infinite;
  content: "\2026";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1rem;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1rem;
  }
}
